
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landing-page {
  background-color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page h1 {
  margin: 0;
  padding: 20px;
  font-size: 2.5em;
  color: black;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;

}

button:hover {
  background-color: red;
}
